GMAIL_USER=jdenriquezr@gmail.com
GMAIL_APP_PASSWORD=tu_password_de_gmail

GROQ_KEY=tu_key_de_groq
GEMINI_KEY=tu_key_de_gemini
OPENROUTER_KEY=tu_key_de_openrouter

RESEND_API_KEY=tu_key_de_resend
BREVO_API_KEY=tu_key_de_brevo

PUBLIC_API_URL=http://localhost:3000