GMAIL_USER=jdenriquezr@gmail.com
GMAIL_APP_PASSWORD=tu_password_de_gmail

# Keys para el Chat
GROQ_KEY=tu_key_de_groq
GEMINI_KEY=tu_key_de_gemini
OPENROUTER_KEY=tu_key_de_openrouter

# Keys para Emails de Alertas (LLM personalizado)
GEMINI_ALERTAS_KEY=tu_key_de_gemini_para_alertas
CEREBRAS_KEY_1=tu_key_de_cerebras_1
CEREBRAS_KEY_2=tu_key_de_cerebras_2

RESEND_API_KEY=tu_key_de_resend
BREVO_API_KEY=tu_key_de_brevo

PUBLIC_API_URL=http://localhost:3000